
* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
    color: #333;

}
    html {
        position: relative;
        min-height: 100%;
    }
    
    body {
        background-color: #ffecf4;
        font-size: 62.5%;
    }

h1,
h2,
h3,
h4 {
margin: 16px;
}

h1{
    font-size: 54px;
    color: #89CFF0;
    margin-bottom: 50px;
}

h1 > span {
font-size: 24px;
font-weight: 500;
}
    
h2 {
font-size: 42px;
margin-bottom: 40px;
font-weight: 700;
}

h3 {
font-size: 28px;
font-weight: 500;
    }








.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    /* position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: x-large; */
    }
    
    /* centers any child of my contaner */
    .container > * {
        width: 100%;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }
    
    .flex-center {
        justify-content: center;
        align-items: center;
    }
    
    .justify-center {
        justify-content: center;
    }
    
    .text-center {
        text-align: center;
    }
    
    .hidden {
        display: none;
    }
    
      /* BUTTONS */
    .btn {
        font-size: 18px;
        padding: 10px 0;
        width: 200px;
        text-align: center;
        border: 1px solid #56a5eb;
        margin-bottom: 16px;
        text-decoration: none;
        color: #56a5eb;
        background-color: white;
    }
    
    .btn:hover {
        cursor: pointer;
        box-shadow: 0 6px 14px 0 rgba(86, 185, 235, 0.5);
        transform: translateY(-10px);
        transition: transform 150ms;
    }
    
    .btn[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
    }

/* CSS for the game */
    .choice-container {
        display: flex;
        margin-bottom: 0.5rem;
        width: 100%;
        font-size: 1.8rem;
        border: 0.1rem solid rgb(86, 165, 235, 0.25);
        background-color: white;
    }
    
    .choice-container:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }
    
    .choice-prefix {
        padding: 1.5rem 2.5rem;
        background-color: #56a5eb;
        color: white;
    }
    
    .choice-text {
        padding: 1.5rem;
    }